@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.border-1{
  border-bottom: 1px solid rgba(20, 17, 17, 0.411);
}
table { border-collapse: collapse; }

.icon{
  width: 50px;
  min-width: 50px;

}
input:focus, textarea:focus, select:focus{
  outline: none;
}

input::placeholder{
  color: black;
}
.topo{
  position: fixed;
  height:0px;
  opacity: 0;
  transition-property: height, opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.propo{
  transition-property: height, opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}